---
layout: default
title: Home
---
<h3 class="post-title">远离喧嚣</h3>
<ul class="post-list">
  {% for post in paginator.posts %}

  <li>
    <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    <span><time class="date">{{ post.date | date: "%Y-%m-%d" }}</time></span>
  </li>
  {% endfor %}
  <p></p>
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}
    <small>｜</small>

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    {{ page }}
    {% elsif page == 1 %}
    <a href="{{ '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    <small>｜</small>
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</ul>