body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-family: 'LXGW WenKai Screen', 'SimSun', 'Noto Serif SC', 'ST Heiti', 'Microsoft YaHei';
  background-color: #272439;
}

header p strong {
    text-transform: uppercase;
}

.post-title {
    background: var(--theme-color);
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
}

a,a:visited {
  color: var(--theme-color);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

a.active {
    background: var(--theme-color);
    padding: 0.5rem;
    color: white;
    font-weight: bold;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid black;
  font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 90%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code, pre {
	font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 92%;
}

pre {
  background: black;
  color: white;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

.post-list{
  margin: 0px;
  padding: 0px;
}

.post-list li{
  line-height: 45px;
  list-style: none;
}

.pagination{
  color: var(--theme-color);
  font-weight: inherit;
}

.date {
  opacity: 0.6;
  color: var(--text-color);
}

.article, .article p {
  color: var(--text-color);
}

/* Twikoo */
.tcomment {
  height: auto;
}

.twikoo {
  color: var(--text-color) !important;
}

.tk-submit .tk-avatar {
  display: none;
}